<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="test">
	<locations>
		<location type="BndRunDescriptorLocation">
			<bndrun file="/derivation-glsp/test.bndrun"/>
		</location>
	</locations>
</target>